# Weight
==========================

### Monday, May 31, 2021 6:49:14 PM EDT
-------------------------------

[Markdown ref](https://ingeh.medium.com/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed) 

Markdown reference is also built in under help.

Help will also have references for some library imports

[sqlAlchemy](https://docs.sqlalchemy.org/en/14/tutorial/engine.html)

[read in sql table](https://pythontic.com/pandas/serialization/mysql)

New scale etekcity ESF24 


google phrase that might get some parsing answers for munging on this data: 

###  dataframe columns space in name
reset increment value for wtid field in table rfile.fatty
> ALTER TABLE fatty AUTO_INCREMENT = 0 

[regular expressions cheatsheet](https://cheatography.com/davechild/cheat-sheets/regular-expressions/)

[lsp page ](https://github.com/krassowski/jupyterlab-lsp)

[regex checker](https://regex101.com/)

[google python style guide](https://google.github.io/styleguide/pyguide.html?__s=0929f5d1j66q0hd5nee4)

How do you convert a string to a float in Python?
We can convert a string to float in Python using float() function. It's a built-in function to convert an object to floating point number. Internally float() function calls specified object __float__() function.

## Reworked to use postgresql

In [2]:
import logging
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import select
# eng = create_engine("postgresql://rfile:simple@flatboy/rfile")postgresql://rfile@192.168.11.10/rfile
eng = create_engine("postgresql://rfile@192.168.11.10/rfile")
myconn = eng.connect()

In [3]:

# logging.basicConfig(format='%(asctime)s %(message)s')
logging.info('log details')

In [ ]:
mylogfile = "test.log"
logger = logging.getLogger('dev')
logger.setLevel(logging.INFO)
consoleHandler = logging.StreamHandler()
consoleHandler.setLevel(logging.INFO)
fileHandler = logging.FileHandler(mylogfile)
logger.addHandler(consoleHandler)
logger.addHandler(fileHandler)
formatter = logging.Formatter('%(asctime)s  %(name)s  %(levelname)s: %(message)s')
consoleHandler.setFormatter(formatter)
fileHandler.setFormatter(formatter)
logger.info('information message')

In [7]:
logger = logging.getLogger('dev')
logger.setLevel(logging.INFO)
fileHandler = logging.FileHandler('weight.log')
fileHandler.setLevel(logging.INFO)
logger.addHandler(fileHandler)
formatter = logging.Formatter('%(asctime)s  %(name)s  %(levelname)s: %(message)s')
fileHandler.setFormatter(formatter)
logger.info('information message log only')

INFO:dev:information message log only

In [4]:
# put file name here wt5-31-2021.csv already imported
#file:///home/rfile/python3/notebooks/bpinfo/wt6-1-2021.csv
# file:///home/rfile/motog5/Bob - Export Data 11-7-2021 ~ 3-13-2022.csv
lastfile = '/home/rfile/motog5/Bob - Export Data 11-7-2021 ~ 3-13-2022.csv'
wtdata = pd.read_csv(lastfile)

In [8]:
wtdata.columns = wtdata.columns.str.lower()
wtdata.columns = wtdata.columns.str.replace(' ', '_')
wtdata.columns = wtdata.columns.str.replace('-', '_')

In [15]:
# ALTER SEQUENCE fatty_wtid_seq RESTART WITH 10
#wtdata = pd.read_csv('wt6-1-2021.csv')
wtdata.columns = wtdata.columns.str.lower()
wtdata.columns = wtdata.columns.str.replace(' ', '_')
wtdata.columns = wtdata.columns.str.replace('-', '_')
# this one working
# store time data in var to put it back after replace statement below 
# easier than iterate through the columns
# which had to be done to get the float data
listtime = wtdata.time = pd.to_datetime(wtdata.time)
wtdata = wtdata.replace(to_replace="\s\D*",  value='', regex=True)  
# wtdata = pd.to_numeric(wtdata)
wtdata.time = listtime # time back in proper format for sql import

wtdata[['weight', 'bmi', 'body_fat', 'fat_free_body_weight','subcutaneous_fat', 'visceral_fat','body_water','muscle_mass','skeletal_muscles', 'bone_mass', 'protein', 'bmr']] = \
    wtdata[['weight', 'bmi', 'body_fat', 'fat_free_body_weight','subcutaneous_fat', 'visceral_fat','body_water','muscle_mass','skeletal_muscles', 'bone_mass', 'protein', 'bmr']].apply(pd.to_numeric)

wtdata = wtdata.sort_values('time')
wtdata.to_sql('fatty', myconn, schema='public', if_exists='append', index=False)
logger.info('query ran: %s ', lastfile )

INFO:dev:query ran: /home/rfile/motog5/Bob - Export Data 11-7-2021 ~ 3-13-2022.csv

In [10]:
listflds = 'weight', 'bmi', 'body_fat', 'fat_free_body_weight','subcutaneous_fat', 'visceral_fat','body_water','muscle_mass','skeletal_muscles', 'bone_mass', 'protein', 'bmr'

In [11]:
wtdata.columns

Index(['time', 'weight', 'bmi', 'body_fat', 'fat_free_body_weight',
       'subcutaneous_fat', 'visceral_fat', 'body_water', 'muscle_mass',
       'skeletal_muscles', 'bone_mass', 'protein', 'bmr', 'metabolic_age'],
      dtype='object')

In [12]:
listflds

('weight',
 'bmi',
 'body_fat',
 'fat_free_body_weight',
 'subcutaneous_fat',
 'visceral_fat',
 'body_water',
 'muscle_mass',
 'skeletal_muscles',
 'bone_mass',
 'protein',
 'bmr')

In [ ]:
wtdata = wtdata.sort_values('Time')
wtdata.columns = wtdata.columns.str.replace(' ', '_')
wtdata.columns = wtdata.columns.str.replace('-', '_')
def fixfield(datafield, strstrp) :
    datafield = datafield.str.replace(strstrp, '')
    datafield = pd.to_numeric(datafield, errors='ignore')
    return datafield
# time stamp
wtdata.Time = pd.to_datetime(wtdata.Time)
# weight
wtdata.Weight = fixfield(wtdata.Weight, ' lb')
# BMI already float
# body fat
wtdata.Body_Fat = fixfield(wtdata.Body_Fat, ' %' )
# fat free bw
wtdata.Fat_Free_Body_Weight = fixfield(wtdata.Fat_Free_Body_Weight, ' lb')
#Subcutaneous_Fat	
wtdata.Subcutaneous_Fat	 = fixfield(wtdata.Subcutaneous_Fat, ' %')
# Visceral_Fat already float
# Body_Water  %
wtdata.Body_Water = fixfield(wtdata.Body_Water, ' %')
# Muscle_Mass  lb
wtdata.Muscle_Mass = fixfield(wtdata.Muscle_Mass, ' lb')
# Skeletal_Muscles %
wtdata.Skeletal_Muscles = fixfield(wtdata.Skeletal_Muscles, ' %' )
# Bone_Mass lb
wtdata.Bone_Mass = fixfield(wtdata.Bone_Mass, ' lb')
# Protein %
wtdata.Protein = fixfield(wtdata.Protein, ' %')
# BMR Kcal	
wtdata.BMR = fixfield(wtdata.BMR , ' Kcal')
# age is int
wtdata.Metabolic_Age =  pd.to_numeric(wtdata.Metabolic_Age, errors='ignore')

In [13]:
somesql =wtdata.to_sql('fatty', myconn, if_exists='append', index=False)

In [14]:
wtdata

,time,weight,bmi,body_fat,fat_free_body_weight,subcutaneous_fat,visceral_fat,body_water,muscle_mass,skeletal_muscles,bone_mass,protein,bmr,metabolic_age
20,2021-11-09 08:12:00,234.0,31.7,32.2,158.6,27.9,14,48.9,150.6,43.8,8.0,15.5,1923,76
19,2021-11-11 08:03:00,234.4,31.7,32.4,158.6,28.1,14,48.8,150.6,43.7,8.0,15.4,1922,76
18,2021-11-13 07:46:00,233.2,31.6,32.7,157.0,28.4,14,48.6,149.0,43.5,8.0,15.3,1907,76
17,2021-11-20 07:39:00,234.4,31.7,32.4,158.6,28.1,14,48.8,150.6,43.7,8.0,15.4,1922,76
16,2021-11-26 09:05:00,241.8,32.8,33.7,160.4,29.1,15,47.9,152.4,42.9,8.0,15.1,1940,77
15,2021-11-30 08:35:00,235.6,31.9,33.4,157.0,29.0,14,48.1,149.0,43.0,8.0,15.2,1907,76
14,2021-12-02 08:28:00,234.0,31.7,32.0,159.0,27.7,14,49.1,151.0,43.9,8.0,15.5,1928,76
13,2021-12-11 06:41:00,230.8,31.3,31.7,157.6,27.5,13,49.3,149.6,44.1,8.0,15.6,1914,76
12,2021-12-14 07:09:00,233.2,31.6,32.2,158.0,27.9,14,48.9,150.2,43.8,8.0,15.5,1919,76
11,2021-12-15 08:28:00,230.8,31.3,31.6,157.8,27.4,13,49.4,150.0,44.2,8.0,15.6,1916,76
10,2021-12-18 07:44:00,235.6,31.9,32.4,159.2,28.1,14,48.8,151.4,43.6,8.0,15.5,1930,76
9,2021-12-28 07:10:00,238.4,32.3,33.1,159.4,28.7,14,48.3,151.4,43.2,8.0,15.3,1932,76
8,2021-12-30 05:56:00,238.8,32.3,33.3,159.2,28.8,14,48.1,151.2,43.1,8.0,15.2,1930,76
7,2022-01-06 05:29:00,238.4,32.3,32.9,159.8,28.5,14,48.4,151.8,43.3,8.0,15.3,1936,76
6,2022-01-13 08:09:00,236.8,32.1,32.8,159.0,28.4,14,48.5,151.2,43.4,8.0,15.4,1928,76
5,2022-01-15 06:32:00,236.6,32.0,32.7,159.2,28.3,14,48.6,151.2,43.5,8.0,15.4,1929,76
4,2022-01-22 06:37:00,237.4,32.2,32.8,159.6,28.4,14,48.5,151.6,43.4,8.0,15.3,1933,76
3,2022-01-25 09:12:00,238.6,32.3,33.1,159.4,28.7,14,48.2,151.6,43.2,8.0,15.3,1933,76
2,2022-02-03 06:33:00,236.6,32.0,32.8,159.0,28.4,14,48.5,151.0,43.4,8.0,15.3,1927,76
1,2022-02-22 06:10:00,245.2,33.2,34.4,160.8,29.7,15,47.3,152.8,42.4,8.0,15.0,1945,77
0,2022-03-10 07:42:00,252.8,34.3,36.1,161.6,31.1,16,46.1,153.4,41.3,8.2,14.6,1953,77

In [ ]:
logging.basicConfig(filename='server-soap.1.log',
        level=logging.INFO,
        format='%(asctime)s %(message)s',)

# graphing

In [1]:
import dateutil
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import select
from sqlalchemy.dialects.sqlite import DATETIME as DT
import matplotlib.pyplot as plt
# import seaborn as sb
from matplotlib import cbook, dates
from icecream import ic
#from matplotlib.ticker import Formatter
import mplcursors
# %matplotlib widget
# this gives seperate window qt widget for figures
%matplotlib qt5
# %matplotlib inline
# %load_ext blackcellmagic
eng = create_engine("sqlite:////data/sqlite/vitals.db")
myconn = eng.connect()

In [3]:
# jupyter to get just line graph of weight (fatty table)
# never got cursor to work so added mplcursors lib
# get data
# wtdta = "select ftime, weight from qfatty where ftime > (SELECT date('now','-30 day'))" # original 14 days
wtdta = "select ftime, weight from (select ftime, weight from fatty order by ftime desc limit 30) order by ftime asc"
wtdata = pd.read_sql_query(wtdta, myconn, parse_dates = "ftime" )
# wtdata['ftime'] = pd.to_datetime(wtdata['ftime'])
wtdata['ftime'] = pd.to_datetime(wtdata.ftime)
wtdata['ftime'] = wtdata['ftime'].dt.strftime('%Y-%m-%d %H:%M')
# wtdata['ftime'] = wtdata['ftime'].dt.floor('Min')
wtdata.rename(columns = {'ftime':'Time', 'weight':'Weight' }, inplace = True)

formatter = dates.DateFormatter('%Y-%m-%d %H:%M')

fig4, ax4, = plt.subplots()
#plt.subplot()
# start setting up figure
mylegend = "Weight 30 entries "
mystats = wtdata.describe(include='float')
plt.ylim(230,260)
ax4.set_xlabel('Date')
plt.title('weight plot')
ax4.annotate([mystats], xy=(200, 380), xycoords='figure points')


plt.grid(visible=True, which='both', axis='both', )
fig4.set_figwidth(25)
fig4.set_figheight(10)
# thetable = pd.plotting.table(fig4, wtdata, colLabels= wtdata.columns )
lines = ax4.plot(wtdata.Time , wtdata.Weight, marker='o', linestyle='dashed' )
# df['date_string'] = df['DateTime'].dt.strftime('%Y-%m-%d %H:%M:%S') 
# df['start_date_time'] = df['start_date_time'].dt.floor('T')
#df['DateTime'] = pd.to_datetime(df['DateTime'], format='%Y-%m-%d %H:%M:%S')
#df.plot(x='DateTime', y='Value')
#formatter = dates.DateFormatter('%Y-%m-%d %H:%M') 
#plt.setp(ax4.xaxis.set_major_formatter(formatter))
plt.setp(ax4.get_xticklabels(), rotation = 60, fontsize=6)
mplcursors.cursor(lines) # or just mplcursors.cursor()
plt.ion()
plt.show()

# adding other values from weight table
## fatty

In [4]:
# jupyter to get just line graph of weight (fatty table)
# never got cursor to work so added mplcursors lib
# get data
# wtdta = "select ftime, weight from qfatty where ftime > (SELECT date('now','-30 day'))" # original 14 days
wtdta = "select * from (select * from fatty order by ftime desc limit 30) order by ftime asc"
wtdata = pd.read_sql_query(wtdta, myconn, parse_dates = "ftime" )
# wtdata['ftime'] = pd.to_datetime(wtdata['ftime'])
wtdata['ftime'] = pd.to_datetime(wtdata.ftime)
wtdata['ftime'] = wtdata['ftime'].dt.strftime('%Y-%m-%d %H:%M')
# wtdata['ftime'] = wtdata['ftime'].dt.floor('Min')
wtdata.rename(columns = {'ftime':'Time', 'weight':'Weight' }, inplace = True)

formatter = dates.DateFormatter('%Y-%m-%d %H:%M')

fig4, ax4, = plt.subplots()
#plt.subplot()
# start setting up figure
mylegend = "Weight 30 entries "
mystats = wtdata.describe(include='float')
plt.ylim(230,260)
ax4.set_xlabel('Date')
plt.title('weight plot')
ax4.annotate([mystats], xy=(200, 380), xycoords='figure points')


plt.grid(visible=True, which='both', axis='both', )
fig4.set_figwidth(25)
fig4.set_figheight(10)
# thetable = pd.plotting.table(fig4, wtdata, colLabels= wtdata.columns )
lines = ax4.plot(wtdata.Time , wtdata.Weight, marker='o', linestyle='dashed' )
# df['date_string'] = df['DateTime'].dt.strftime('%Y-%m-%d %H:%M:%S') 
# df['start_date_time'] = df['start_date_time'].dt.floor('T')
#df['DateTime'] = pd.to_datetime(df['DateTime'], format='%Y-%m-%d %H:%M:%S')
#df.plot(x='DateTime', y='Value')
#formatter = dates.DateFormatter('%Y-%m-%d %H:%M') 
#plt.setp(ax4.xaxis.set_major_formatter(formatter))
plt.setp(ax4.get_xticklabels(), rotation = 60, fontsize=6)
mplcursors.cursor(lines) # or just mplcursors.cursor()
plt.ion()
plt.show()